<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2004 - 2008</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Andhra University College of Engineering
               </h4>
               <ul>
                <li> Completed B.Tech in Computer Science Engineering with 75% </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2002 - 2004</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">KKR Junior College, Bhimavaram (A.P)
               </h4>
               <ul>
                <li>Studied MPC (87%)</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2001 - 2002</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Ushodaya Public School, Bhimavaram (A.P)
               </h4>
               <ul>
                <li>Completed my Secondary school with 63%</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>